/* layout */
.learning-app {
	height: 100vh;
}

.learning-app_left {
	float: left;
	width: calc(35% - 1px);
	height: inherit;
	border-right: 1px solid grey;
}

.learning-app_right {
	float: left;
	width: 65%;
	height: inherit;
}

.heading {
	height: 60px;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.viewlist-hint {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 200px;
	height: 60px;
	line-height: 60px;
}

.viewlist-ans {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 200px;
	height: 60px;
	line-height: 60px;
}



/* dir */

.learning-title {
	line-height: 60px;
	margin: 0;
}

.dir-list {

}

.dir-item {
	position: relative;
	heidht: 70px;
}

.dir-item_left {
	float: left;
	width: 50px;
	padding: 15px 10px;
}

.dir-item_right {
	color: blue;
	float: left;
	width: calc(100% - 90px);
	padding: 20px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

.dir-from {
	font-weight: 400;
	line-height: 1.4em;
	color: black;
}

.dir-content {
	color: rgba(0, 0, 0, .40);
	font-size: 14px;
}

.mode-button {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 200px;
	height: 60px;
	line-height: 60px;
	border: 1px solid #a08c88;
	background-color: #c8c9cb;
}

.current-directory	 {
	line-height: 60px;
	font-size: 16px;
}


/* clearfix 
 * http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best
 */
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

